<section class="benefits">
	<div class="benefits__container container">
		<h3 class="benefits__title title title--48 title--decor">
			<span class="title__decor">Чем полезен</span> SEO-аудит?
		</h3>
		<div class="benefits__items">
			<article class="benefits__item">
				<div class="benefits__item-icon">
					<img src="./img/benefits-icon.webp" alt="" class="benefits__item-icon-img">
				</div>
				<div class="benefits__item-info">
					<h4 class="benefits__item-title title">
						Покажем ошибки, которые «тормозят» продвижение
					</h4>
					<p class="benefits__item-text">
						Технические проблемы (битые ссылки, дубли страниц, медленная загрузка), неоптимизированный контент или кривые метатеги снижают позиции в поиске. Аудит выявляет слабые места точечно.
					</p>
				</div>
			</article>
			<article class="benefits__item">
				<div class="benefits__item-icon">
					<img src="./img/benefits-icon.webp" alt="" class="benefits__item-icon-img">
				</div>
				<div class="benefits__item-info">
					<h4 class="benefits__item-title title">
						Узнаете степень соответствия сайта требованиям поисковых систем
					</h4>
					<p class="benefits__item-text">
						Алгоритмы Google и Яндекса постоянно меняются. Аудит покажет, какие элементы сайта устарели и как их адаптировать под новые правила.
					</p>
				</div>
			</article>
			<article class="benefits__item">
				<div class="benefits__item-icon">
					<img src="./img/benefits-icon.webp" alt="" class="benefits__item-icon-img">
				</div>
				<div class="benefits__item-info">
					<h4 class="benefits__item-title title">
						Сможете оптимизировать бюджет на продвижение
					</h4>
					<p class="benefits__item-text">
						Вместо распыления средств на гипотезы вы получите чёткий план работ: что исправить в первую очередь, чтобы получить максимальный эффект при минимальных затратах.
					</p>
				</div>
			</article>
			<article class="benefits__item">
				<div class="benefits__item-icon">
					<img src="./img/benefits-icon.webp" alt="" class="benefits__item-icon-img">
				</div>
				<div class="benefits__item-info">
					<h4 class="benefits__item-title title">
						Увеличите конверсию сайта
					</h4>
					<p class="benefits__item-text">
						Аудит покажет слабы места в юзабиолити сайта. Расскажем не только о том, как увеличить органический трафик, но и как конвертировать его в клиентов с наибольшей эффективностью.
					</p>
				</div>
			</article>
		</div>
	</div>
</section>