<section class="hero">
    <div class="hero__top container">
        <h2 class="hero__heading title title--100 js-anime-title">Когда маркетинг <br> <span>— это хаос</span></h2>
    </div>
    <div class="hero__scene">
        <div class="hearo__outer hero__sticky">
            <div class="hero__container">
                <!-- Левая часть - проблемы -->
                <div class="hero__left hero-side hero-side--dark">
                    <ul class="hero__problems hero-side__list">
                        <li class="hero__title hero-side__title hero-side__title--blurred title">
                            ШУМ В КАНАЛАХ
                        </li>
                        <li class="hero__problem-item hero-side__item">
                            <span class="hero__problem-text hero-side__text title title--40">БЮДЖЕТЫ УТЕКАЮТ</span>
                        </li>
                        <li class="hero__problem-item hero-side__item">
                            <span class="hero__problem-text hero-side__text title title--40">НЕТ СИСТЕМЫ</span>
                        </li>
                    </ul>
                </div>
        
                <!-- Правая часть - решение -->
                <div class="hero__right hero-side hero-side--light">
                    <h3 class="hero__title hero-side__title title title--60">
                        МЫ ПРИВОДИМ ВСЁ К
                        <span class="hero__title-highlight"> ПОРЯДКУ</span>
                    </h3>
                    
                    <div class="hero__formula formula">
                        <div class="hero__formula-row formula__row--top">
                            <div class="hero__formula-item hero__formula-item--left">
                                <span class="hero__formula-text title">ЧЁТКАЯ<br>СТРАТЕГИЯ</span>
                            </div>
                            <div class="hero__formula-operator hero__formula-operator--plus">
                                <span class="hero__formula-symbol">×</span>
                            </div>
                            <div class="hero__formula-item hero__formula-item--right">
                                <span class="hero__formula-text title">СИЛЬНЫЙ<br>КРЕАТИВ</span>
                            </div>
                        </div>

                        <div class="hero__formula-equals">
                            <span class="hero__formula-equals-sign">=</span>
                        </div>
                        <div class="hero__formula-result">
                            <span class="hero__formula-result-text title">ПОНЯТНЫЕ РЕЗУЛЬТАТЫ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
