<section class="process">
    <div class="process__container container">
        <div class="process__head">
            <h2 class="process__heading title title--100 js-anime-title">
                ПРОЦЕСС <br>
                <span>РАБОТЫ</span>
            </h2>
        </div>

        <div class="process__timeline">
            <article class="process-step is-active">
                <div class="process-step__top">
                    <div class="process-step__number title">1</div>
                </div>
                <div class="process-step__line"></div>
                <div class="process-step__body">
                    <h3 class="process-step__title title title--32">ПОГРУЖЕНИЕ <br>И ДИАГНОСТИКА</h3>
                    <p class="process-step__time text">3-7 дней</p>
                </div>
            </article>

            <article class="process-step">
                <div class="process-step__top">
                    <div class="process-step__number title">2</div>
                </div>
                <div class="process-step__line"></div>
                <div class="process-step__body">
                    <h3 class="process-step__title title title--32">СТРАТЕГИЯ <br>И ПЛАН</h3>
                    <p class="process-step__time text">3-7 дней</p>
                </div>
            </article>

            <article class="process-step">
                <div class="process-step__top">
                    <div class="process-step__number title">3</div>
                </div>
                <div class="process-step__line"></div>
                <div class="process-step__body">
                    <h3 class="process-step__title title title--32">КРЕАТИВ <br>И ПРОИЗВОДСТВО</h3>
                    <p class="process-step__time text">3-7 дней</p>
                </div>
            </article>

            <article class="process-step">
                <div class="process-step__top">
                    <div class="process-step__number title">4</div>
                </div>
                <div class="process-step__line"></div>
                <div class="process-step__body">
                    <h3 class="process-step__title title title--32">ЗАПУСК <br>И ТЕСТИРОВАНИЕ</h3>
                    <p class="process-step__time text">3-7 дней</p>
                </div>
            </article>

            <article class="process-step">
                <div class="process-step__top">
                    <div class="process-step__number title">5</div>
                </div>
                <div class="process-step__line"></div>
                <div class="process-step__body">
                    <h3 class="process-step__title title title--32">АНАЛИТИКА <br>И МАСШТАБИРОВАНИЕ</h3>
                    <p class="process-step__time text">3-7 дней</p>
                </div>
            </article>
        </div>
    </div>
</section>
