<section class="services">
    <div class="services__top container">
        <h2 class="services__heading title title--100">ЧТО МЫ <br> <span>УМЕЕМ</span></h2>
    </div>
    <div class="services__wrapper container--full">
        <div class="services__list">
            <!-- Элемент списка 1 -->
            <div class="services__item js-services-item is-active">
                <div class="services__icon-box">
                    <!-- Иконка цели -->
                    <img class="services__icon" src="../img/services/target.svg" alt="">
                </div>
                <h3 class="services__title title title--60">СТРАТЕГИЧЕСКИЙ МАРКЕТИНГ</h3>
                <p class="services__description">Строим фундамент: аудит, позиционирование, воронки продаж.</p>
            </div>

            <!-- Элемент списка 2 -->
            <div class="services__item js-services-item">
                <div class="services__icon-box">
                    <!-- Иконка цели -->
                    <img class="services__icon" src="../img/services/branding.svg" alt="">
                </div>
                <h3 class="services__title title title--60">БРЕНДИНГ</h3>
                <p class="services__description">Создаём ДНК бренда: от логотипа до тона общения.</p>
            </div>

            <!-- Элемент списка 3 -->
            <div class="services__item js-services-item">
                <div class="services__icon-box">
                    <!-- Иконка цели -->
                    <img class="services__icon" src="../img/services/company.svg" alt="">
                </div>
                <h3 class="services__title title title--60">РЕКЛАМНЫЕ КАМПАНИИ</h3>
                <p class="services__description">Точные удары: креативы + медиаплан + запуск.</p>
            </div>

            <!-- Элемент списка 4 -->
            <div class="services__item js-services-item">
                <div class="services__icon-box">
                    <!-- Иконка цели -->
                    <img class="services__icon" src="../img/services/communication.svg" alt="">
                </div>
                <h3 class="services__title title title--60">ЦИФРОВЫЕ КОММУНИКАЦИИ</h3>
                <p class="services__description">Единая экосистема: сайт, e-mail, чат-боты.</p>
            </div>

            <!-- Элемент списка 5 -->
            <div class="services__item js-services-item">
                <div class="services__icon-box">
                    <!-- Иконка цели -->
                    <img class="services__icon" src="../img/services/pr.svg" alt="">
                </div>
                <h3 class="services__title title title--60">PR И КОНТЕНТ-МАРКЕТИНГ</h3>
                <p class="services__description">Репутация, которая работает: инфоповоды, статьи, лидеры мнений.</p>
            </div>

            <!-- Элемент списка 6 -->
            <div class="services__item js-services-item">
                <div class="services__icon-box">
                    <!-- Иконка цели -->
                    <img class="services__icon" src="../img/services/smm.svg" alt="">
                </div>
                <h3 class="services__title title title--60">SMM</h3>
                <p class="services__description">Живые соцсети: контент-план, визуал, вовлечение.</p>
            </div>

            <!-- Элемент списка 7 -->
            <div class="services__item js-services-item">
                <div class="services__icon-box">
                    <!-- Иконка цели -->
                    <img class="services__icon" src="../img/services/videoprod.svg" alt="">
                </div>
                <h3 class="services__title title title--60">ВИДЕОПРОДАКШН</h3>
                <p class="services__description">Видео, которое цепляет: от Reels до имиджевых роликов.</p>
            </div>
        </div>
    </div>
</section>