<section class="team">
    <div class="team__container container">
        <h2 class="team__heading title title--100">
            Наша <br />
            <span>команда</span>
        </h2>
        <div class="team__grid" id="teamGrid">
            <!-- 1. Большая карточка (обязательно первый элемент) -->
            <article class="team-card team-card--large">
                <img src="../img/team/ppl-1.webp" class="team-card__image">
                <div class="team-card__content">
                    <div class="team-card__badge title">Директор OOO "Геометрия смыслов"</div>
                    <div class="team-card__text-line title title--32">Юлия Агальцова</div>
                    <div class="team-card__text-line text text--light">
                        Маркетолог, стаж 17 лет в маркетинге, работа СМО в крупных российских и международных компаниях
                    </div>
                </div>
            </article>
    
            <!-- 2. Обычная карточка -->
            <article class="team-card">
                <img src="../img/team/ppl-2.webp" class="team-card__image">
                <div class="team-card__content">
                    <div class="team-card__text-line title title--32">Наталья Тен</div>
                    <div class="team-card__text-line text text--light">
                        Заместитель директора по связям с общественностью, режиссер, рилсмейкер
                    </div>
                </div>
            </article>
            
            <!-- 3. Обычная карточка -->
            <article class="team-card">
                <img src="../img/team/ppl-4.webp" class="team-card__image">
                <div class="team-card__content">
                    <div class="team-card__text-line title title--32">Ольга Деушева</div>
                    <div class="team-card__text-line text text--light">
                        Заместитель директора по контент-маркетингу, выпускающий редактор
                    </div>
                </div>
            </article>
    
            <!-- 4. Обычная карточка -->
            <article class="team-card">
                <img src="../img/team/ppl-3.webp" class="team-card__image">
                <div class="team-card__content">
                    <div class="team-card__text-line title title--32">Елизавета Сычева</div>
                    <div class="team-card__text-line text text--light">
                        Руководитель образовательтных программ и проектов
                    </div>
                </div>
            </article>
    
            <!-- 5. Обычная карточка -->
             <article class="team-card">
                <img src="../img/team/ppl-6.webp" class="team-card__image">
                <div class="team-card__content">
                    <div class="team-card__text-line title title--32">Андрей Ковалев</div>
                    <div class="team-card__text-line text text--light">
                        Графический дизайнер
                    </div>
                </div>
            </article>
            
            <!-- 6. Обычная карточка -->
            <article class="team-card">
                <img src="../img/team/ppl-5.webp" class="team-card__image">
                <div class="team-card__content">
                    <div class="team-card__text-line title title--32">Ксения Климакова</div>
                    <div class="team-card__text-line text text--light">
                        СММ-специалист
                    </div>
                </div>
            </article>

        </div>
    </div>
</section>