<section class="top">
	<div class="top__container container">
		<div class="top__grid">
			<div class="top__info">
				<h1 class="top__title title title--100">
					Бесплатный <span class="title__decor">SEO-аудит сайта</span>
				</h1>
				<div class="top__pic">
					<img src="./img/top-img.webp" alt="" class="top__img">
				</div>
				<div class="top__text">
					Проведём глубокий анализ вашего ресурса и выявим слабые места, которые снижают позиции в поиске Яндекс и Google. Разработаем персональный план для улучшения видимости сайта, увеличения органического трафика и конверсии.
				</div>
			</div>
		</div>
		<div class="top__form-wrap">
			<form action="" class="top__form form">
				<div class="form__inner">
					<label class="form__label">
						<input class="form__input" type="text" name="name" placeholder="Ваше имя">
					</label>
					<label class="form__label">
						<input class="form__input" type="tel" name="name" placeholder="+7 (___) ___-__-__">
					</label>
					<button class="form__btn btn" type="submit">
						Оставить заявку
					</button>
				</div>
				<div class="form__agree">
					Нажимая на кнопку, вы соглашаетесь с условиями обработки персональных данных
				</div>
			</form>
		</div>
	</div>
</section>