@use 'lib' as *;

.error404 {
    background-image: url(../img/bg-error404.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 0 fluid(150px, 75px);
    @include media("<=md") {
        background-size: 100%;
    }

	$self: &;

    &__image {
        transition: transform 0.3s ease-out;
        img {
            margin: 0 auto;
        }
    }
    &__text {
        text-transform: uppercase;
        text-align: center;
        margin-top: -150px;
        transition: transform 0.3s ease-out;
        @include media("<=lg") {
            margin-top: -100px;
        }
        @include media("<=md") {
            margin-top: -50px;
        }
        @include media("<=sm") {
            margin-top: -25px;
        }
    }
    &__text + &__text {
        margin-top: 10px;
    }
    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 45px;
        @include media("<=md") {
            flex-direction: column;
        }
    }
    &__btn {
        width: 100%;
        max-width: 524px;
    }
}