@use 'lib' as * with(
	$breakpoints: (
		'xxxs': 360px,
		'xxs': 480px,
		'xs': 640px,
		'sm': 780px,
		'md': 960px,
		'lg': 1100px,
		'xlg': 1280px,
		'xxlg': 1440px,
		'xxxlg': 1680px,
		'xxxxlg': 1928px
	)
);

@use "../blocks/**/*.scss";
@use "../../node_modules/swiper/swiper";
@use "../../node_modules/swiper/modules/effect-fade";
@use "../../node_modules/swiper/modules/navigation";
@use "../../node_modules/swiper/modules/pagination";
@use "../../node_modules/@fancyapps/ui/dist/fancybox/fancybox.css";
@use "../../node_modules/hystmodal/lib/hystmodal.css";

body, html {
	background-color: var(--background);
	font-size: var(--size);
	color: var(--text);
	font-family: var(--font, sans-serif);
	display: flex;
	flex-flow: column nowrap;
    overflow-x: hidden;
    height: 100%;
    @include media("<=sm") {
        font-size: 14px;
    }
}

main {
    padding-top: 160px;
    @include media("<=md") {
        padding-top: 65px;
    }
}

.sprite {
    display: none;
}