@use 'lib' as *;

.top-animation-item {
    transition: transform 0.3s ease-out;
}

.top {
    position: relative;
	padding: 120px 0 fluid(150px, 37px);
    @include media("<=sm") {
        padding: 80px 0 37px;
    }
}

.top__grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(200px, 420px));
	gap: 40px;
    margin-top: 124px;
    @include media("<=xxxlg") {
        gap: 20px;
    }
    @include media("<=lg") {
        grid-template-columns: repeat(2, 1fr);
    }
    @include media("<=sm") {
        grid-template-columns: 1fr;
        margin-top: 56px;
    }
}

.top__card {
	border-radius: 30px;
	padding: 40px 40px 62px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 28px;
	transition: box-shadow 0.3s ease, transform 0.3s ease;
	cursor: pointer;
	border-radius: 50px;
	border: 1px solid var(--main-green);
    @include media("<=xlg") {
       padding: 25px 30px 40px;
    }
    @include media("<=sm") {
        padding: 25px;
        gap: 20px;
    }
}

.top__card:hover {
	transform: translateY(-5px);
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.top__card--large {
	grid-column: 4 / -1;
	grid-row: 3/1;
	width: 100%;
	justify-content: flex-end;
    @include media("<=lg") {
        grid-column: span 2;
	    grid-row: auto;
    }
    @include media("<=sm") {
        grid-column: auto;
    }
}

.top__card-icon-placeholder {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.3s ease;
    @include media("<=xlg") {
        width: 80px;
	    height: 80px;
    }
    @include media("<=sm") {
        width: 60px;
	    height: 60px;
    }
}

.top__card:hover .top__card-icon-placeholder {
	transform: scale(1.1);
}

.top__card-title {
	text-transform: uppercase;
    @include media("<=xxxlg") {
        font-size: 22px;
    }
}

.top__decoration {
    position: absolute;
    left: 0;
    bottom: -22%;
    pointer-events: none;
    @include media("<=sm") {
        bottom: auto;
        top: 330px;
        width: 80%;
        opacity: .8;
    }
}